header p {
    font-family: "Arial Black", Arial, sans-serif;
    margin: 0.5em;
    text-shadow: 3px 3px 0 #333;
    letter-spacing: 0.1em;
    text-align: center;
    color: green;
}
body{
        font-family: sans-serif;
        /* fallback if the background image does not load */
        background: grey;
        background-image: url("../images/books-books-books.jpg");
        padding: 0 5%;
}
div#container {
        min-width: 720px;
        max-width: 1024px;
        margin: 0 auto;
}
#book1 {
    box-shadow: 10px 10px 5px darkgrey;
    background: linear-gradient(lightblue, green);
}
#book2 {
    box-shadow: 10px 10px 5px darkgrey;
    background: linear-gradient(lightblue, green);
}
#book3 {
    box-shadow: 10px 10px 5px darkgrey;
    background: linear-gradient(lightblue, green);
}
#book4 {
    box-shadow: 10px 10px 5px darkgrey;
    background: linear-gradient(lightblue, green);
}

img {
    border-radius: 25px;
    opacity: 0.7;
}

h1 {
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 400%;
    margin: 0.5em;
    text-shadow: 3px 3px 0 #333;
    letter-spacing: -0.1em;
    text-align: center;
    color: green;
}
h4 {
    font-family: "Arial Black", Arial, sans-serif;
    margin: 0.5em;
    text-shadow: 2px 2px 0 grey;
    letter-spacing: -0.1em;
    text-align: left;
}

header, footer {
    color: white;
}
nav {
        /*border: 3px solid lightblue;*/
        /* STEP 5: Set NAV to float so that it also clears its floated children */
        float: left;
        /* STEP 6: Force nav to render the full width of the page */
        width: 100%;
        /* STEP 9: Conceal the part of the UL that protrudes outside of the NAV element */
        overflow: hidden;
}
nav ul {
        /*border: 3px solid deeppink;*/
        /* STEP 3: remove list markers, margin, and padding from UL container */
        list-style-type: none;
        padding: 0;
        margin: 0;

        /* STEP 4: Set UL to float so that it clears its floated children */
        float: left;
        /* STEP 7: Move entire UL so that leftmost edge lines up with middle of page (50% of the width of the containing NAV element) */
        position: relative;
        left: 50%;
}
nav li {
        /*border: 3px solid lawngreen;*/
        /* STEP 2: Arrange LI elements horizontally */
        float: left;
        /* STEP 8a: Move each LI back to the left 50% of the width of the containing UL element */
        position: relative;
        right: 50%;
        /* STEP 8b: Separate each tab with a bit of space */
        margin-right: 0.25em;
}
nav li a {
        /*border: 3px solid orange;*/
        /* Render anchor elements as boxes */
        display: block;
        padding: 0.5em;
        background: #ccc;
        /* Style the text for the links */
        text-decoration: none;
        color: #000;
}
nav li a:hover {
        background: #fff;
}
nav li a#selected {
        background: #fff;
}
main, li {
        background: #fff;
}
main {
        padding: 1em;
        /* Clear the NAV element above */
        clear: both;
        line-height: 1.5;
}
main h2 {
    color: green;
    box-shadow: inset 0 0 20px darkgrey;
}
.pullquote {
    display: block;
    float: left;
    padding: 0 0 0 20px;
    margin: 0 0 10px 20px;
    width: 40%;
    font-size: 1.5em;
    line-height: 1.4em;
    text-align: left;
    color: white;
    border-right: 3px solid #ccc;
    background: linear-gradient(lightblue, green);
}

/* sticky footer back to top button */
topbutton {
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    background-color: black;
    background-color: rgba(0,0,0,0.3);
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* Hide back to top button by default */
    display: none;
}
footer {
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 400%;
    margin: 0.5em;
    text-shadow: 3px 3px 0 #333;
    letter-spacing: -0.1em;
    text-align: center;
    color: green;
}
/* Media queries for different screen resolutions */
@media only screen and (min-width: 320px) {
    body {
        font-size: 110%;
    }
    h1 {
        color: lightblue;
    }
    main h2 {
        color: lightblue;
    }
    footer {
        color: lightblue;
    }
    header p {
        color: lightblue;
    }
}
/* Media query breakpoint at 480px and up */
@media only screen and (min-width: 480px) {
    body {
        font-size: 120%;
    }
    h1 {
        color: lightgreen;
    }
    main h2 {
        color: lightgreen;
    }
    footer {
        color: lightgreen;
    }
    header p {
        color: lightgreen;
    }
}
/* Media query breakpoint at 780px and up */
@media only screen and (min-width: 780px) {
    body {
        font-size: 130%;
    }
    h1 {
        color: cornflowerblue;
    }
    main h2 {
        color: cornflowerblue;
    }
    footer {
        color: cornflowerblue;
    }
    header p {
        color: cornflowerblue;
    }
}
/* Media query breakpoint at 960px and up */
@media only screen and (min-width: 960px) {
    body {
        font-size: 140%;
    }
    h1 {
        color: seagreen;
    }
    main h2 {
        color: seagreen;
    }
    footer {
        color: seagreen;
    }
    header p {
        color: seagreen;
    }
}