html {
    /* added Proxima Nova font to the entire page */
    font-family: "Proxima Nova", sans-serif;
}
header p {
    margin: 0.5em;
    text-shadow: 3px 3px 0 #333;
    letter-spacing: 0.1em;
    /* aligned the text to center and changed font colour to green */
    text-align: center;
    color: green;
}
body {
    /* fallback if the background image does not load */
    background: grey;
    /* added a books background image */
    background-image: url("../images/books-books-books.jpg");
    /* added padding around the body */
    padding: 0 5%;
}
div#container {
    /* set container size */
    min-width: 720px;
    max-width: 1024px;
    margin: 0 auto;
}
#book1 {
    /* surrounded the book1 section with a box shadow with a lightblue and green gradient */
    box-shadow: 10px 10px 5px darkgrey;
    background: linear-gradient(lightblue, green);
}
#book2 {
    /* surrounded the book2 section with a box shadow with a lightblue and green gradient */
    box-shadow: 10px 10px 5px darkgrey;
    background: linear-gradient(lightblue, green);
}
#book3 {
    /* surrounded the book3 section with a box shadow with a lightblue and green gradient */
    box-shadow: 10px 10px 5px darkgrey;
    background: linear-gradient(lightblue, green);
}
#book4 {
    /* surrounded the book4 section with a box shadow with a lightblue and green gradient */
    box-shadow: 10px 10px 5px darkgrey;
    background: linear-gradient(lightblue, green);
}

img {
    /* added a slight opacity and rounded cornes to each book image */
    border-radius: 25px;
    opacity: 0.7;
}

h1 {
    font-size: 400%;
    margin: 0.5em;
    /* added a small text shadow */
    text-shadow: 3px 3px 0 #333;
    letter-spacing: 0em;
    /* centered the h1 text and set the colour to green */
    text-align: center;
    color: green;
}
h4 {
    margin: 0.5em;
    /* added a text shadow to all h4 heading elements */
    text-shadow: 2px 2px 0 grey;
    letter-spacing: -0.1em;
    text-align: left;
}
nav {
        float: left;
        /* made booknav the full width of the page */
        width: 100%;
        /* hid the extra part of the ul that is outside of the booknav */
        overflow: hidden;
}
nav ul {
        /* removed the padding and marging from the ul */
        list-style-type: none;
        padding: 0;
        margin: 0;
        float: left;
        position: relative;
        left: 50%;
}
nav li {
        /* made the list elements appear horizontally */
        float: left;
        position: relative;
        right: 50%;
        /* 0.30em space around each tab */
        margin-right: 0.30em;
}
nav li a {
        /* made each anchor element a box */
        display: block;
        padding: 0.5em;
        /* added a lightblue background colour */
        background: lightblue;
        /* underlined each nav link */
        text-decoration: underline;
        color: black;
}
nav li a:hover {
        /* made the links white when hovered over */
        background: white;
}
main, li {
        /* made list background colour white */
        background: white;
}
main {
        padding: 1em;
        /* Clear the nav */
        clear: both;
        line-height: 1.5;
}
main h2 {
    /* kept the same green colour scheme going */
    color: green;
    /* added an inset box shadow around the introductory heading so it stands out */
    box-shadow: inset 0 0 20px darkgrey;
}
.pullquote {
    /* added a pullquote around a section of the first chapter in the first book */
    display: block;
    float: left;
    padding: 0 0 0 20px;
    margin: 0 0 10px 20px;
    width: 40%;
    font-size: 1.5em;
    line-height: 1.4em;
    text-align: left;
    /* made the text colour white for easier viewability */
    color: white;
    border-right: 3px solid white;
    /* added a lightblue and green gradient to the pullquote */
    background: linear-gradient(lightblue, green);
}

/* sticky footer back to top button */
#topbutton {
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* Hide back to top button */
    display: none;
}
footer {
    font-size: 400%;
    margin: 0.5em;
    text-shadow: 3px 3px 0 #333;
    letter-spacing: 0em;
    text-align: center;
    /* made the footer text colour green */
    color: green;
}
/* Media queries for different screen resolutions */
/* Media query breakpoint at 320px and up */
@media only screen and (min-width: 320px) {
    body {
        font-size: 110%;
    }
    h1 {
        color: lightblue;
    }
    main h2 {
        color: lightblue;
    }
    footer {
        color: lightblue;
    }
    header p {
        color: lightblue;
    }
}
/* Media query breakpoint at 480px and up */
@media only screen and (min-width: 480px) {
    body {
        font-size: 120%;
    }
    h1 {
        color: lightgreen;
    }
    main h2 {
        color: lightgreen;
    }
    footer {
        color: lightgreen;
    }
    header p {
        color: lightgreen;
    }
}
/* Media query breakpoint at 780px and up */
@media only screen and (min-width: 780px) {
    body {
        font-size: 130%;
    }
    h1 {
        color: cornflowerblue;
    }
    main h2 {
        color: cornflowerblue;
    }
    footer {
        color: cornflowerblue;
    }
    header p {
        color: cornflowerblue;
    }
}
/* Media query breakpoint at 960px and up */
@media only screen and (min-width: 960px) {
    body {
        font-size: 140%;
    }
    h1 {
        color: seagreen;
    }
    main h2 {
        color: seagreen;
    }
    footer {
        color: seagreen;
    }
    header p {
        color: seagreen;
    }
}